<h1> Edit Your Note </h1>

<%= form_for @note do |f| %>
  <%= f.label :title  %>
  <%= f.text_field :title %>

  <%= f.label :due %>
  <%= f.date_field :due %>
  
  <%= f.label :body  %>
  <%= f.text_area :body %>

  <%= f.submit %>

  <%= link_to  "Back", notes_path %>
  
<% end %>